# ==========================================
# IDEs and system files
# ==========================================
.idea/
.vscode/
*.iml
*.iws
*.ipr
.DS_Store
Thumbs.db

# ==========================================
# BACKEND (Java / Maven)
# ==========================================
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/HELP.md
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

# ==========================================
# FRONTEND (Angular / Node)
# ==========================================
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.editorconfig
frontend/.browserslistrc
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.cache/

# ==========================================
# Env and logs
# ==========================================
*.log
.env
.env.local
