:host {
  display: block;
}

.table-scroll {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

.table-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.table-scroll::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
